.comment-section-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.comments{
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.comment-divider{
    width: 100%;
}